* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /*horizontal*/
  align-items: center;
  /*centered hori + vertical */
  background-color: #0e5ab0;
}

.btn {
  background-color: #ffffff;
  color: #e5dc15;
  font-family: Georgia, 'Montererrat', 'sans-serif';
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid #e5dc15;
  border-radius: 5px;
  box-shadow: 0 12px #c2bb11, 0 18px rgba(0, 0, 0, 4);
  font-size: 60px;
  width: 90px;
  height: 80px;
  cursor: cell;
  position: static;
  top: 0;
}
.btn:disabled{
  cursor:default;
}

.btn:hover {
  background-color: #e5dc15;
  color: #0e80b0;
  top: 0;
  box-shadow: 0 8px #c2bb11, 0 14px rgba(0, 0, 0, 0.409);
}
.btn.disabled:hover {
  background-color: #ffffff;
  color: #e5dc15;
  top: 0;
  box-shadow: 0 12px #c2bb11, 0 14px rgba(0, 0, 0, 0.409);
}
.btn:active {
  top: 8px;
  box-shadow: 0 4px #c2bb11, 0 14px rgba(0, 0, 0, 0.4);
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.game-info {
  margin: 15px;
  color: #ffffff;
}

.board > div {
  display: flex;
}